
.table.table-bordered.panel> thead:first-child > tr:first-child > th{
    border-top:1px solid #ddd;
}

.table.table-bordered.center.panel thead:first-child tr th {
    text-align:center;
    font-family: lucida, verdana, arial, sans-serif;
    font-size:1.2em;
}


.table.table-bordered.center.panel td
{
    align:left;
}
.table.table-bordered.center.panel td span{
margin-right:5%;
}
.table.table-bordered.center.panel td button
{
    align:center;
}
.form.panel{
    background-color: transparent;
}