.newStudentHeader{
    height:70px;
    width:90%;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    top:296px;
    left:0;
}
.newStudentHeader .newStudentmenu{
    float:right;
    height:40px;
    background:#6EA0FF;
    margin-top:15px;
    padding:0 5px;
    cursor:pointer;
}
.newStudentHeader .newStudentmenu p{
    line-height:40px;
    font-weight:900;
    font-size:18px;
    color:#333;
    float:left;
}
.newStudentHeader .newStudentmenu .newStudentbtn{
    width:24px;
    height:20px;
    float:right;
    margin-top:10px;
    position:relative;
}
.newStudentHeader .newStudentmenu .newStudentbtn i{
    display:block;
    width:24px;
    height:4px;
    background:#333;
    position:absolute;
    left:0;
    transition:0.3s;
}
.newStudentHeader .newStudentmenu .newStudentbtn i:nth-child(1){
    top:0; -webkit-transform-origin:left bottom;
    transform-origin:left bottom;
}
.newStudentHeader .newStudentmenu .newStudentbtn i:nth-child(2){
    top:8px;
}
.newStudentHeader .newStudentmenu .newStudentbtn i:nth-child(3){
    top:16px;
    -webkit-transform-origin:left top;
    transform-origin:left top
}

.newStudentHeader .newStudentmenu.on .newStudentbtn i:nth-child(1){
    -webkit-transform:rotate(40deg);
    transform:rotate(40deg)
}
.newStudentHeader .newStudentmenu.on .newStudentbtn i:nth-child(2){
    opacity:0;
}
.newStudentHeader .newStudentmenu.on .newStudentbtn i:nth-child(3){
    -webkit-transform:rotate(-40deg);transform:rotate(-40deg)
}

.newStudentNav{
    width:100%;
    padding-top:5px;
    background-color: #b3ddf6;
    padding-bottom:5px;
    display:block;
}
.newStudentNav .newStudentList{
    padding:0 30px;
    opacity:0;
    transition:0.3s
}

.newStudentNav .newStudentList .center{
    margin:0px auto;
    width:70%;
}

.newStudentNav .newStudentList .center td,th {
    height: 28px;
    padding-left: 4px;
    border-right: 1px solid #6EA0FF;
    border-bottom: 1px solid #6EA0FF;
    empty-cells: show;
    word-wrap: break-word;
    word-break: break-all;
}

.personalInformation{
    font-size: 14px;
    color: #6EA0FF;
    font-weight: bold;
    align: center;
}
.newStudentNav .newStudentList.on{
    opacity:1
}
.newStudentNav .newStudentList:after{
    display: block;
    margin:0px auto;
    width:70%;
    content:"";
    clear:both;
}
.newStudentNav .newStudentList dl{
    float:left;
    padding-right:50px;
}
.newStudentNav .newStudentList dt{
    margin-bottom:10px;
}
.newStudentNav .newStudentList dt a{
    font-size:16px;
    color:#333;
}
.newStudentNav .newStudentList dd a{
    font-size:14px;
    color:#555;
    line-height:1.8em;
}
/*新生报道须知部分*/
hr {
    width: 100%;
    color: #999999;
    height: 1px;
}

td,th {
    height: 28px;
    padding-left: 4px;
    border-right: 1px solid #6EA0FF;
    border-bottom: 1px solid #6EA0FF;
    empty-cells: show;
    word-wrap: break-word;
    word-break: break-all;
}

.innertd {
    height: 28px;
    padding-left: 0px;
    border-right: 1px solid #336699;
    border-bottom: 1px solid #336699;
}

.content {
    margin-top: 6px;
    border-top: 1px solid #6EA0FF;
    border-left: 1px solid #6EA0FF;
    text-align: left;
    font-size: 12px;
    line-height: 24px;
    border-collapse: collapse;
}

.content a {
    text-decoration: none;
}

.nomargincontent {
    border-left: 1px solid #336699;
    font-size: 12px;
    align: center;
    line-height: 24px;
    border-collapse: collapse;
}

.title {
    font-size: 14px;
    color: #336699;
    font-weight: bold;
    background-color: #ddeeff;
    height: 28px;
    padding-left: 12px;
    border: 0px;
}

.head {
    font-size: 14px;
    color: #6EA0FF;
    font-weight: bold;
    align: center;
}

.button {
    font-size: 12px;
    height: 24px;
    width: 56px;
    color: #333333;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: #ddeeee;
}

.button1 {
    font-size: 12px;
    height: 24px;
    width: 76px;
    color: #333333;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: #ddeeee;
}

.fun-table {
    font-size: 12px;
    border: solid 1px #DADADA;
    background: #ffffff;
    margin-top:10px;
}

.fun-table tr {
    height: 30px;
    empty-cells: show;
}

.fun-table td {
    border-bottom: solid 1px #DADADA;
    height: 30px;
    empty-cells: show;
}

.fun-table .label{
    text-align:right;
    border-bottom: solid 1px #DADADA;
    border-right:solid 1px #DADADA;
    background: #f1f1f1;
    height: 30px;
}
.positionbar {
    width:100%;
    line-height:35px;
    border-bottom:2px solid #f1f1f1;
    text-align:left;
    background: #f1f1f1;
}

.doSort{
    font-size: 14px;
    color: #000000;
    cursor:pointer;
    font-weight:bold;
}
.doSort1{
    font-size: 14px;
    color: #000000;
    font-weight:bold;
}
.newStudentNav{
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    font-family: lucida, verdana, arial, sans-serif;
    font-size: 12px;
    background-attachment: fixed;
    background-color: #edf7ff;
    text-align: center;
}
