.operation .add {
    background-image: url("../../../icon/add_0.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.operation .minus {
    background-image: url("../../../icon/delete_0.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}