.tab{

    width: 100%;
    margin-bottom: 21px;
}
.tab-body{
    width: 100%;
    margin: 0 auto;
    height: 39px;
}
.tab-body ul{
    float: right;
}
.tab-body ul li{
    float: left;
    padding: 0 18px;
    height: 38px;
    line-height: 38px;
    list-style:none;
}
.tab-body ul li.cli.active{
    border-bottom: 4px solid #0066b3;
}

<<<<<<< HEAD
.tab .data-tab{
    height:600px;
}

.second{
    border-bottom: 2px solid #efefef;
    width: 100%;
    margin-bottom: 21px;
}
.second .second-Tab-body{
    width: 15%;
    margin: 0 auto;
    height: 100%;
    float:left;
    border-right:1px solid #0000ff;
}
.second .second-Tab-body ul{
    height: 100%;
}
.second-Tab-body ul li
{
    padding: 0 18px;
    width:100%;
    line-height: 38px;
    list-style:none;
}
.second-Tab-body ul li.cli.active{
    border-bottom: 4px solid #0066b3;
}

.second .second_data_tab{
    width: 85%;
    margin: 0 auto;
    height: 100%;
    float:left;
    padding:0 20px 0 20px;
=======
.tab-data {
    width: 100%;
    margin: 20px auto 0px auto;
    border-top: 2px solid #efefef;

>>>>>>> be64eee922897036ce96bff30b58913976b64d4a
}