.tab{

    width: 100%;
    margin-bottom: 21px;
}
.tab-body{
    width: 100%;
    margin: 0 auto;
    height: 39px;
}
.tab-body ul{
    float: right;
}
.tab-body ul li{
    float: left;
    padding: 0 18px;
    height: 38px;
    line-height: 38px;
    list-style:none;
}
.tab-body ul li.cli.active{
    border-bottom: 4px solid #0066b3;
}

.tab-data {
    width: 100%;
    margin: 20px auto 0px auto;
    border-top: 2px solid #efefef;

}