
.ordinaryTable .center td{
    text-align:center;

}

.folding{
    float:right;
    margin-right: 20px;
}
.col-sm-12.col-md-12{

    padding: 10px;
}
.table.table{
    background-color: transparent;
}
div#root{
   /* background-image:url(../../../../icon/body.gif);*/
}


